<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="chat_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatClient.Properties.Settings>
            <setting name="ServerIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="ReduceToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEncryption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppLanguageCode" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="DisplayFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>7123</value>
            </setting>
            <setting name="MessageInputFieldWidthPercent" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MessageInputFieldLeftOffsetPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RosterWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="InputAreaHeight" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="WinterHasFallen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RawTextMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SentBubbleHue" serializeAs="String">
                <value>0</value>
            </setting>
        </ChatClient.Properties.Settings>
        <chat_client.Properties.Settings>
            <setting name="ServerIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>light</value>
            </setting>
            <setting name="ReduceToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseEncryption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppLanguageCode" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="DisplayFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>7123</value>
            </setting>
            <setting name="MessageInputFieldWidthPercent" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MessageInputFieldLeftOffsetPercent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RosterWidth" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="InputAreaHeight" serializeAs="String">
                <value>120</value>
            </setting>
        </chat_client.Properties.Settings>
    </userSettings>
</configuration>