<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="chat_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <chat_client.Properties.Settings>
            <setting name="LastIPAddressUsed" serializeAs="String">
                <value />
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="CustomPortNumber" serializeAs="String">
                <value>7123</value>
            </setting>
            <setting name="UseCustomPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReduceInTray" serializeAs="String">
                <value>False</value>
            </setting>
        </chat_client.Properties.Settings>
    </userSettings>
</configuration>